#home {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%; 
  width: 100%; // Full viewport width
  overflow: hidden;
  background-color: #f5f5f5;

  .img-wra {
    max-width: 100%;
    overflow: hidden;

    img {
      width: 100%; // Make the image responsive
      height: 100; // Maintain aspect ratio
      display: block;
      object-fit: cover;
    }
  }
}

// Media queries for responsiveness
// For tablets and larger devices
@media (min-width: 768px) {
  #home {
    .img-wra {
      max-width: 80%; // Adjust image wrapper width
    }
  }
}

// For laptops and larger devices
@media (min-width: 1024px) {
  #home {
    .img-wra {
      max-width: 100%; // Adjust image wrapper width
    }
  }
}
